.missions {
  margin: 25px;
}

table {
  border-collapse: collapse;
}

tr,
th {
  padding: 15px;
  text-align: left;
  border: 1px solid rgba(128, 128, 128, 0.2);
}

tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.3);
}
