h2 {
    margin-left: 3rem;
}

h3 {
    width: 15%;
    margin: 5%;
}

.mission {
    margin: 1rem 0 0 3rem;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.missionDes {
    width: 75%;
    margin: 5%;
}